@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	outline: 0;
}

body {
	background: url('../images/body-bg.gif');
	color: #ccc;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	line-height: 1.3;
}

a {
	color: #e7b038;
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	text-decoration: none;
}

a img {
	border: 0;
}

input,textarea,select {
	background: #000;
	border: 1px solid #413e3e;
	color: #787878;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

input:focus, textarea:focus, select:focus {
    background: #000;
    border:1px solid #969393;
    color: #787878;
}


input[type=submit], .loginbox a:link, .loginbox a:visited {
	background-color: rgb(242, 162, 35);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(242, 162, 35)), to(rgb(218, 130, 18)));
    background: -webkit-linear-gradient(top, rgb(242, 162, 35), rgb(218, 130, 18));
    background: -moz-linear-gradient(top, rgb(242, 162, 35), rgb(218, 130, 18));
    background: -ms-linear-gradient(top, rgb(242, 162, 35), rgb(218, 130, 18));
    background: -o-linear-gradient(top, rgb(242, 162, 35), rgb(218, 130, 18));
    background: linear-gradient(top, rgb(242, 162, 35), rgb(218, 130, 18));
    border: 1px solid rgb(218, 130, 5);
    border-bottom: 1px solid rgb(229, 138, 31);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgb(297, 198, 104);
    -webkit-box-shadow: 0 1px 0 0 rgb(297, 198, 104) inset ;
    -moz-box-shadow: 0 1px 0 0 rgb(297, 198, 104) inset;
    -ms-box-shadow: 0 1px 0 0 rgb(297, 198, 104) inset;
    -o-box-shadow: 0 1px 0 0 rgb(297, 198, 104) inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 rgb(195, 88, 19);
}

input[type=submit]:hover, .loginbox a:hover {
    opacity:.85;
    cursor: pointer;
}

input[type=submit]:active, .loginbox a:active {
    border: 1px solid rgb(170, 130, 18);
    box-shadow: 0 0 10px 5px rgb(191, 192, 0) inset;
    -webkit-box-shadow:0 0 10px 5px rgb(191, 192, 0) inset;
    -moz-box-shadow: 0 0 10px 5px rgb(191, 192, 0) inset;
    -ms-box-shadow: 0 0 10px 5px rgb(191, 192, 0) inset;
    -o-box-shadow: 0 0 10px 5px rgb(191, 192, 0) inset;
}

textarea {
	overflow: auto;
}

.cl {
	display: block;
	height: 0;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
	clear: both;
}

.notext {
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}

.left,.alignleft {
	float: left;
	display: inline;
}

.right,.alignright {
	float: right;
	display: inline;
}

.text-right {
	text-align: right;
}

h2 {
	font-size: 10px;
	color: #f2a223;
	font-weight: bold;
}

h3 {
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}

h4 {
	font-size: 14px;
	color: #f3b12b;
	font-weight: bold;
}

#shell {
	width: 980px;
	margin: 0 auto;
}

#header {
	position: relative;
}

h1#logo {
	position: absolute;
	top: 37px;
	left: 0;
}

h1#logo a {
	float: left;
	width: 239px;
	height: 49px;
	background: url('../images/logo.gif') no-repeat 0 0;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}

.social {
	float: right;
	width: 160px;
	padding-top: 11px;
}

.social span {
	float: left;
	display: inline;
	font-size: 10px;
	color: #9f9f9f;
	line-height: 16px;
	padding-right: 5px;
}

.social ul {
	list-style: none;
}

.social ul li {
	float: left;
	display: inline;
	width: 16px;
	padding-right: 2px;
}

.social ul li a {
	float: left;
	display: inline;
	width: 16px;
	height: 16px;
	background: url('../images/social.gif') no-repeat 0 0;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}

.social ul li a.facebook {
	background-position: -18px 0;
}

.social ul li a.vimeo {
	background-position: -36px 0;
}

.social ul li a.rss {
	background-position: -54px 0;
}

#navigation {
	float: right;
	clear: right;
	padding-top: 28px;
	padding-bottom: 47px;
}

#navigation ul {
	list-style: none;
}

#navigation ul li {
	float: left;
	display: inline;
	padding-left: 29px;
}

#navigation ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

#navigation ul li a.active,#navigation ul li a:hover {
	color: #d91d2a;
}

#sub-navigation {
	display: block;
	clear: right;
	border-top: 1px dashed #666;
	border-bottom: 1px dashed #666;
	padding: 8px 0;
}

#sub-navigation ul {
	list-style: none;
}

#sub-navigation ul li {
	float: left;
	display: inline;
	padding-right: 23px;
}

#sub-navigation ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	line-height: 24px;
	text-decoration: none;
}

#sub-navigation ul li a:hover {
	text-decoration: underline;
}

#search {
	width: 346px;
	margin: 0 0 0 auto;
}

#search label {
	float: left;
	display: inline;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	line-height: 24px;
	padding-right: 6px;
}

#search .search-field {
	width: 238px;
	padding: 2px 0 2px 2px;
}

#search .search-button {
	background: none;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	padding: 0;
	text-align: inherit;
	text-shadow: none;
}

#main {
	border-bottom: 1px dashed #413e3e;
}

#content {
	
}

.box {
	width: 990px;
	border-bottom: 1px dashed #413e3e;
	padding-bottom: 21px;
	overflow: auto;
}

.box .head {
	width: 980px;
	padding-top: 14px;
	padding-bottom: 11px;
}

.box .head h2 {
	float: left;
	display: inline;
}

.box .movie {
	width: 152px;
	float: left;
	padding-right: 12px;
}

.movie-image {
	float: left;
	width: 152px;
	height: 214px;
	position: relative;
}

.movie-image img {
	width: 152px;
	height: 214px;
}

.movie-image a {
	float: left;
	display: inline;
	width: 152px;
	height: 214px;
	position: relative;
	z-index: 2;
}

.play {
	position: absolute;
	top: 0;
	left: 0;
	width: 152px;
	height: 214px;
	background: url('../images/image-hover.png');
	display: block;
	z-index: 5;
	cursor: pointer;
	display: none;
}

.movie span.name {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding-top: 160px;
	display: block;
}

.box .last {
	padding: 0;
}

.rating {
	float: left;
	width: 152px;
	padding-top: 8px;
}

.rating p {
	float: left;
	font-size: 10px;
	color: #fff;
	font-weight: bold;
}

.rating .stars {
	float: left;
	width: 60px;
	height: 11px;
	background: url('../images/stars.gif') no-repeat 0 0;
	margin-left: 2px;
}

.rating .stars-in {
	width: 48px;
	display: inline;
	background: url('../images/stars.gif') no-repeat 0 bottom;
	position: absolute;
	height: 11px;
	font-size: 0;
	line-height: 0;
	text-indent: -4000px;
}

.comments {
	background: url('../images/comments.gif') no-repeat 0 center;
	padding-left: 12px;
	float: right;
}

#news {
	width: 460px;
	float: left;
}

#news .head {
	width: 460px;
	padding-top: 11px;
	padding-bottom: 14px;
}

#news h3,#coming h3 {
	float: left;
}

#coming {
	width: 490px;
	float: left;
	padding-left: 30px;
}

#coming .head {
	width: 490px;
	padding-top: 11px;
	padding-bottom: 14px;
}

#coming .head strong {
	color: #ff361a;
}

#coming .content {
	min-height: 130px;
	height: auto !important;
	height: 130px;
	padding-bottom: 20px;
}

#coming .content h4 {
	padding-bottom: 3px;
}

.content {
	padding-bottom: 28px;
}

.content .date {
	font-size: 10px;
	color: #fff;
}

.content img {
	float: left;
	width: 68px;
	padding-right: 8px;
}

.content p {
	font-size: 13px;
	color: #fff;
	line-height: 16px;
}

.content a {
	font-size: 11px;
}

#footer {
	padding: 15px 0 0 0;
}

#footer p {
	text-align: center;
	font-size: 10px;
	padding-bottom: 11px;
}

#footer a {
	color: #9c9c9c;
	font-size: 10px;
}

#footer a:hover {
	color: #e44400;
	text-decoration: none;
}

#footer a:hover.designby {
	color: #9c9c9c;
	text-decoration: none;
}

.movie-wide {
	margin-top: 1em;
	width: 100%;
}

.poster {
	float: right;
}

/* Login links */
.loginbox ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.loginbox li {
	float: left;
}

.loginbox a:link, .loginbox li a:visited {
	display: block;
	text-decoration: none;
	min-width: 80px;
}

/* Login Form */
#login_form, #register_form {
	margin: 0 auto;
	width: 250px;
}

#login_form h1, #register_form h1 {
	text-align: center;
}

.validation_error {
	color: rgb(242, 162, 35);
}

#login_form ul, #register_form ul {
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

#login_form li, #register_form li {
	padding: 12px;
	position: relative;
}

#login_form li:first-child,
#login_form li:last-child,
#register_form li:first-child, 
#register_form  li:last-child {
	border-bottom: 1px solid #777;
}

#login_form label, #register_form label {
	display: inline-block;
	float: left;
	margin-top: 3px;
	padding: 3px;
	width: 100%;
}

#login_form input, #register_form input {
    border-radius:2px;
	height: 20px;
	padding: 5px 8px;
	width: 90%;	
}

#login_form input[type=submit], #register_form input[type=submit] {
	height: 40px;
	padding: 0px 0px;
	width: 100%;
}

.form_hint {
	background: grey;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left: 8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}

.form_hint::before {
	content: "\25C0"; /* left point triangle in escaped unicode */
	color: grey;
	position: absolute;
	top: 1px;
	left: -6px;
}

#login_form input:focus+.form_hint,
#register_form input:focus+.form_hint {
	display: inline;
}

.hidden_on_load {
	display: none;
}

.toggleable {
	border: 3px solid #666666;
    cursor: pointer;
    margin: 2px;
    padding: 5px;	
}

.toggleable:before {
	content: "▼";
	padding: 10px 10px 10px 0;
}

.collapsable:before {
	content: "▲";
	padding: 10px 10px 10px 0;
}


/* Movie Comments */

#comment_form textarea {
	display: block;
	height: 10em;
	width: 100%;
}